* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Light Mode */
    --primary-color: #161616;
    --p-light-color: #3c3c3c;
    --p-dark-color: #000000;
    --secondary-color: #FFCDD2;
    --s-light-color: #fff;
    --s-dark-color: #cb9ca1;
    
    --text-primary-color: #fff;
    --text-secondary-color: #000000;
    
    --bg-header-color: #161616;
    --bg-footer-color: #3c3c3c;
}

html {
    scroll-behavior: smooth;
}



/* Background */

/* .area {
    width: 100vh;
    
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 30px;
    height: 20px;
    background: var(--bg-footer-color);  
    animation: animate 5s linear infinite;
    bottom: -150px;
    border-radius: 50px;  
    z-index: -5000;  
}

.circles li:nth-child(1) {
    left: 25%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;  
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 4s;    
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;    
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;    
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;    
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;    
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;    
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;    
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;    
}


@keyframes animate {
   0%{
      transform: translateY(0) rotate(0deg);
      border-radius: 50%;
   }

   100%{
      transform: translateY(-1000px) rotate(720deg);
      border-radius: 50%;
   }
} */

/* Navbar */

.nav-menu{
    align-items: center;
    background: var(--primary-color);
    color: var(--text-primary-color);
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
    padding:  1.5rem 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.nav-menu h1{
    font-family: 'Ms Madi', cursive;
    font-size: 2rem;
}

.nav-menu-links{
    display: flex;
}

.nav-menu-links a{
    align-items: center;
    color: var(--text-primary-color);
    display: flex;
    font-size: 1rem;
    margin: 0 1.5rem;
    padding: 1.5rem;
    transition: all 0.8s ease-in-out;
}


.nav-menu-links a:hover{
    color: var(--s-dark-color);
}


/* Burger */

.burger{
    display: none;
}

.bar {
    background-color: var(--text-primary-color);
    border-radius: 30px;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    width: 27px;
}


/* Home */

#home-container{
    height: 100vh;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.home-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    margin-right: 8rem;
}

.my-sticker{
    animation: animation 4s infinite alternate-reverse forwards ease-in-out;
    background-color: var(--s-dark-color);
    border-radius: 50%;
    content: url(./img/sayHi.png);
    height: 500px;
    left: -50px;
    position: absolute;
    top: 40px;
    transition: 0.5s;
    width: 500px;
    z-index: -2;
}

.home-info{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: auto;
}

.home-info h1:first-child{
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
}

.home-info h1:nth-child(2){
    font-size: 3rem;
}

.home-info p{
    font-size: 1.5rem;
    margin: 1rem ;
    position: relative;
    color: var(--s-dark-color);
    font-weight: bold;
}

.home-info p span{
    position: absolute;
    right: 0;
    width: 0;
    background: var(--s-light-color);
    border-left: 1px solid var(--text-secondary-color);
    animation: machine 5s infinite alternate steps(21);
}

.btn-know-me{
    align-items: center;
    align-self: center;
    animation: animationBtn 4s infinite alternate-reverse forwards ease-in-out;
    background-color: #cb9ca1;
    border-radius: 10px;
    color: var(--text-primary-color);
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-top: 0.5rem;
    width: 2rem;
}

/* About Me */
#about{
    min-height: 100vh;
    padding: 1rem;
}

#about h2{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about-container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

.about-info p{
    padding: 1.5rem;
    font-size: 1.2rem;
}

.about-photo img{
    width: 35vw;
    border-radius: 50%;
}

.about-skills{
    text-align: center;
}

.about-skills p{
    font-weight: bold;
    font-size: 1.5rem;
}

.about-skills img{
    margin: 1rem;
}

/* Projects */

#projects{
    padding: 1rem;
}

#projects h2{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
}

.projects-container article{
    width: 75vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.projects-container img{
    width: 50%;
    border-radius: 15px;
    box-shadow:  5px 5px 15px var(--s-dark-color);
    transition: all 0.8s;
}

.projects-container img:hover{
    opacity: 80%;
}

.project{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}


#icon{
    width: 20px;
    box-shadow: none;
    transition: all 0.8s ease-in-out;
}

#icon:hover{
    width: 30px;
}

.project-links{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

/* Skills */

#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

/* Contact */

#contact{
    min-height: 80vh;
    padding: 1rem;
}

#contact h2{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 0 auto;
}

.contact-container p{
    margin-bottom: 2rem;
}

.contact-container form{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--p-dark-color);
    padding: 1rem;
    color: var(--text-primary-color);
    border-radius: 0.5rem;
}

.contact-container label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
} 

.contact-container input{
    height: 2rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    margin: 1rem 0;
}

.contact-container textarea{
    height: 5rem;
    padding: 0.5rem;
    margin: 1rem 0;
}

.btn-send {
    background: var(--s-dark-color);
    background: radial-gradient(circle, var(--secondary-color) 0%, var(--s-dark-color) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 8rem;
    border-radius: 1rem;
    align-self: center;
    color: var(--p-dark-color);
    font-weight: bold;
    transition: all 0.8s ease-in-out; 
    cursor: pointer; 
}

  .btn-send span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .btn-send:before,
  .btn-send:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
     -1px -1px 20px 0px var(--s-light-color),
     -4px -4px 5px 0px var(--s-light-color),
     7px 7px 20px 0px var(--p-light-color),
     4px 4px 5px 0px var(--p-light-color);
  }

  .btn-send:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }

  .btn-send:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }

  .btn-send:hover{
    background: transparent;
    color: var(--s-light-color);
    box-shadow: none;
  }

  .btn-send:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }

  .btn-send:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }

  .btn-send span:before,
  .btn-send span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px var(--s-light-color),
     -4px -4px 5px 0px var(--s-light-color),
     7px 7px 20px 0px var(--s-dark-color),
     4px 4px 5px 0px var(--s-dark-color);
  }

  .btn-send span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }

  .btn-send span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }

  .btn-send span:hover:before {
    width: 100%;
  }

  .btn-send span:hover:after {
    width: 100%;
  }

/* Footer */

footer{
    background-color: var(--s-dark-color);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin: 1rem;
}

#icon-skills,
#icon-footer{
    width: 3rem;
    transition: all 0.8s ease-in-out; 
}

#icon-footer:hover{
    width: 3.5rem;
}





/* Animaciones */

@keyframes machine {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
  }

  /* Circle animation */

  @keyframes animation {
    0% {
      transform: translate(0);
    }
  
    50% {
      transform: translate(40px);
    }
  
    100% {
      transform: translate(0);
    }
  }

  @keyframes animationBtn {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(5px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  /* Responsive */

  @media(max-width: 1500px){
    .about-info p,
    .project p,
    .contact-container p{
        font-size: 1rem;
    }
  }

  @media(max-width: 960px){
    .nav-menu{
        padding: 1.5rem 2rem;
    }

    .nav-menu-links{
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        width: 30%;
        height: 100%;
        transition: 0.3s;
        background-color: var(--p-light-color)
    }
    
    .nav-menu-links li:first-child {
        margin-top: 4rem;
    }
    
    .nav-menu-links.active {
        right: 0;
    }

    .nav-items {
        width: 100%;
        border-bottom: 1px solid var(--other-color);
    }

    .nav-items a {
        display: inline-block;
        width: 100%;
        font-weight: bold;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }    


    .home-section{
        align-items: flex-end;
        margin-right: 2rem;
    }

    #about{
        display: flex;
        flex-direction: column;
    }

    .about-info p,
    .project p,
    .contact-container p{
        font-size: 0.8rem;
    }

    .about-info p{
        
        padding: 0.5rem 0;
    }

    .about-container{
        flex-direction: column;
        height: auto;
    }

    .about-photo{
        order: -1;
        margin-bottom: 1rem;
    }


    .projects-container article{
        flex-direction: column;
        padding: 0;
        border-radius: 5%;
    }

    .projects-container img, 
    .project{
        width: 100%;
        margin: 0.5rem auto;
        padding-left: 0;
    }

    .project h3{
        font-size: 1.2rem;
    }

  }

  @media(max-width: 850px){
    .my-sticker{
        width: 80vw;
        height: auto;
    }

    .home-info p{
        margin: 1rem 0 ;
    }
  }

  @media(max-width: 660px){
      .home-section{
          justify-content: flex-end;
          margin-left: 2rem;
        }
        
        .home-info h1:first-child{
            font-size: 3rem;
        }
        
        .home-info h1:nth-child(2){
            font-size: 1.5rem;
        }
        .contact-container form{
            width: 100%;
        }
  }

  @media(max-width:500px){
    .nav-menu h1{
        display: none;
    }

    .home-section{
        align-items: center;
    }

    .home-info{
        margin-top: 5rem;
        align-items: flex-start;
    }
  }

